body {
    scroll-behavior: smooth;
}
.section {
    padding: 50px 180px;
}

p {
    font-family: var(--main-text-font);
    font-size: var(--paragraph-font-size);
    color: var(--text-color);
    line-height: var(--text-line-height);
    font-weight: 200;
}

h1 {
    font-family: var(--main-text-font);
    font-size: var(--title-font-size);
    color: var(--title-color);
}

a {
    text-decoration: none;
    
}


@media only screen and (max-width: 600px) {
    .section {
        padding: 30px 20px 50px 20px;
    }

    h1 {
        font-family: var(--main-text-font);
        font-size: var(--title-font-size-mobile);
        color: var(--title-color);
    }

    h1 {
        font-family: var(--main-text-font);
        font-size: var(--title-font-size-mobile);
        color: var(--title-color);
    }
}