.footer {
    background-color: #323232;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 70px;
}

.footer-link {
    padding-right: 2px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .footer {
        font-size: 12px;
        padding: 0px 20px;
    }

    .footer-container {
        width: 100%;
    }
    .footer-logo {
        width: 150px;
        text-align: center;
    }

    

}

