.container-cooperation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-cooperation {
  min-height: calc(50vh - 150px);
}

.decoration-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/Flag-United-Kingdom.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  margin-bottom: 30px;
}

.decoration-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.decoration-bar h1 {
  padding: 50px 0;
  color: white;
}



.btn-container {
  display: flex;
}

.btn-flag {
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  margin-right: 10px;
  font-weight: 700;
  position: relative;
  z-index: -2;
}

.gbr {
  background: url("https://2.allegroimg.com/original/014c5b/5f4a93e74d35a5432b8d03c4e712/OFICJALNA-FLAGA-WIELKIEJ-BRYTANII-UK-ANGIELSKA-Temat-USA");
  background-position: center;
  background-size: cover;
  color: white;
}

.btn-flag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  z-index: -1;
  box-sizing: unset !important;
}

@media only screen and (max-width: 860px) {
  .btn-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
  }

  .btn-flag {
    height: 80px;
    width: 80px;
    margin: 0 10px 20px 10px;

  }

  .decoration-bar {
    background-position: center;
  }
}
