
.section-about {
    min-height: calc(50vh - 150px);
}

.section-about h1 {
    font-size: var(--title-font-size);
    text-align: center;
    margin-bottom: 20px;
}

.container-about {
    display: flex;

}

.my-image {
    background: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGVyc29ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
    height: auto;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    flex: 2;
    margin-right: 20px;
}

.about-me-description {
    flex: 3;
}

.about-me-description p{
    line-height: 1.4;
    font-weight: 200;
    font-size: var(--paragraph-font-size);
}



@media only screen and (max-width: 860px) {

    .container-about {
        flex-direction: column;
    }
    .my-image {
        margin-right: unset;
        margin-bottom: 20px;
        flex: unset;
        width: 100%;
        height: 300px;
    }
    
    .about-me-description {
        flex: unset;
    }

}

