.section {
    border: 1px solid red;
    height: 100vh;
    padding: 50px 50px;
}
.container {
    border: 1px solid brown;
}

@media only screen and (max-width: 600px) {
    .section {
        padding: 20px 20px;
    }
}