.container-cooperation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}



.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
}

.block {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.block h1 {
  color: white;
  z-index: 20;
}

.section-cooperation {
  min-height: calc(50vh - 150px);
}

.decoration-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/Flag-United-Kingdom.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  margin-bottom: 30px;
}

.decoration-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
}

.decoration-bar h1 {
  padding: 50px 0;
  color: white;
}



.btn-container {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  margin-top: 20px;
}

.btn-container a {
  flex: 1;
}

.btn-flag {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 5px;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  z-index: -2;
  height: 100px;
  background: url("../img/Flag-United-Kingdom.jpeg");
  background-position: center;
  background-size: cover;
  color: white;
}


.btn-flag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: -1;
  box-sizing: unset !important;
}

.single-coperation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

@media only screen and (max-width: 860px) {
  .btn-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px 50px 20px;
    flex-direction: column;
  }

  .btn-flag {
   
    margin: 0 10px 20px 10px;

  }

  .decoration-bar {
    background-position: center;
  }
}
